extends layout

block content
  script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js')
  script(src='app.js')

  #game(ng-app='GameOfLifeClient', data-ng-controller='GameController', data-ng-init='start()')
    h2 Generation: {{generation}} Population: {{population}}
    .col(data-ng-repeat='col in cells track by $index')
      .cell(data-ng-repeat='cell in col track by $index', data-ng-class='{alive: cell}', data-ng-click='toggle($parent.$index, $index)')
