.golPanel, .golBoard, .golStage {
  float: left;
  clear: both;
  margin: 1em;
}

.golRow, .golCol {
  float: left;
}

.golRow {
  clear: both;
}

.golCol .golCell {
  clear: both;
}

.golCell {
  float: left;
  width: 1em;
  height: 1em;
  margin: 0;

  font-size: 1.25em;
  font-family: monospace;
  text-align: center;
  vertical-align: middle;

  background-color: #010;

  box-shadow: -0.1em -0.1em 0.2em 0.05em #000 inset;
}

.golCell span {
  font-size: 0.25em;
}

.golCell:hover {
  background-color: #030;
}

.golCell.dragged {
  background-color: transparent;  
}

.golCell.alive {
  background-color: #0c0;
}
