body {
  color: #fff;
  font-family: sans-serif;

  background-color: #000;
}

.row, .col {
  float: left;
}

.row {
  clear: both;
}

.col .cell {
  clear: both;
}

.cell {
  float: left;
  width: 1em;
  height: 1em;
  margin: 0 1px 1px 0;

  font-size: 1.25em;
  font-family: monospace;
  text-align: center;
  vertical-align: middle;

  background-color: #010;

  border-color: #020;
  border-width: thin;
  border-radius: 0.25em;
  border-style: none solid solid none;
}

.cell:hover {
  background-color: #030;

  border-color: #060;
}

.cell.alive {
  background-color: #0c0;

  border-color: #0f0;
}
